.telugu {
	text-decoration: none;
	color: #444;	
}

.telugu:hover {
	background-color: #fffb94; 
	font-weight: bold;
}

.english {
	color: red;
}

h1 {
	text-align: center;
}
body {
  max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5;
	font-size: 24px;
	font-family: "Georgia";
	background-color: #fbf7dc;
	color: #444;
}

button {
  background: none!important;
  border: none;
  padding: 0!important;
	font-family: "Georgia";
	font-size: 24px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.nav {
	color: blue;
}

footer {
	text-align: center;	
}
